name: C++ backend

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

# Newer commits should cancel old runs
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  clang-format:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        path:
          - "src"
          - "include"
          - "tests"
    steps:
      - uses: actions/checkout@v4
      - name: Run clang-format style check
        uses: jidicula/clang-format-action@v4.11.0
        with:
          clang-format-version: "19"
          check-path: ${{ matrix.path }}

  test:
    needs: clang-format
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        btype: [Debug, Release]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: applied-material-modeling/neml2-ci@main
        with:
          python-version: 3.9
          cmake-version: 3.26
          torch-version: 2.5.1
      - name: Configure
        if: matrix.btype == 'Release'
        run: cmake --preset dev -GNinja -DCMAKE_BUILD_TYPE=Release -S .
      - name: Configure (Werror)
        if: matrix.btype != 'Release'
        run: cmake --preset dev -GNinja -DCMAKE_BUILD_TYPE=${{ matrix.btype }} -DCMAKE_CXX_FLAGS="-Werror" -S .
      - name: Build
        run: cmake --build --preset dev-cpp
      - name: Run tests
        run: |
          ./build/dev/tests/unit/unit_tests -r JUnit::out=unit_tests.xml -r console::out=-::colour-mode=ansi
          ./build/dev/tests/regression/regression_tests -r JUnit::out=regression_tests.xml -r console::out=-::colour-mode=ansi
          ./build/dev/tests/verification/verification_tests -r JUnit::out=verification_tests.xml -r console::out=-::colour-mode=ansi
          ./build/dev/tests/dispatchers/dispatcher_tests -r JUnit::out=dispatcher_tests.xml -r console::out=-::colour-mode=ansi
      - name: Test results
        uses: EnricoMi/publish-unit-test-result-action/linux@v2
        if: always()
        with:
          files: |
            tests/unit/unit_tests.xml
            tests/regression/regression_tests.xml
            tests/verification/verification_tests.xml
            tests/dispatchers/dispatcher_tests.xml
          check_name: Test Results
          check_run: false
          action_fail: true
          comment_mode: off

  no-pch:
    needs: clang-format
    runs-on: macos-latest
    steps:
      - uses: applied-material-modeling/neml2-ci@main
        with:
          python-version: 3.9
          cmake-version: 3.26
          torch-version: 2.5.1
      - name: Configure
        run: cmake --preset dev -GNinja -DNEML2_PCH=OFF -S .
      - name: Build
        run: cmake --build --preset dev-cpp

  no-json:
    needs: clang-format
    runs-on: macos-latest
    steps:
      - uses: applied-material-modeling/neml2-ci@main
        with:
          python-version: 3.9
          cmake-version: 3.26
          torch-version: 2.5.1
      - name: Configure
        run: cmake --preset dev -GNinja -DNEML2_JSON=OFF -S .
      - name: Build
        run: cmake --build --preset dev-cpp


  runner:
    needs: clang-format
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: applied-material-modeling/neml2-ci@main
        with:
          python-version: 3.9
          cmake-version: 3.26
          torch-version: 2.5.1
      - name: Configure
        run: cmake --preset runner -GNinja -S .
      - name: Build
        run: cmake --build --preset runner
      - name: Run tests
        run: ctest --preset runner --output-on-failure

  profiling:
    needs: clang-format
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: applied-material-modeling/neml2-ci@main
        with:
          python-version: 3.9
          cmake-version: 3.26
          torch-version: 2.5.1
      - name: Configure
        run: cmake --preset profiling -GNinja -S .
      - if: matrix.os == 'macos-latest'
        run: ls -lh /Users/runner/work/neml2/neml2/build/profiling/_deps/gperftools/lib
      - name: Build
        run: cmake --build --preset profiling
      - name: Check profile generation
        run: |
          CPUPROFILE=prof.out ./build/profiling/runner/runner runner/benchmark/elasticity/model.i driver nbatch=1 device=cpu
          [[ -f prof.out ]]

  thread-sanitizer:
    needs: clang-format
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: applied-material-modeling/neml2-ci@main
        with:
          python-version: 3.9
          cmake-version: 3.26
          torch-version: 2.5.1
      - name: Configure
        run: cmake --preset tsan -GNinja -S .
      - name: Build
        run: cmake --build --preset tsan
      - name: Run tests
        run: ctest --preset tsan --output-on-failure
