name: Documentation

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

# Newer commits should cancel old runs
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  documentation:
    runs-on: ubuntu-latest
    steps:
      - uses: applied-material-modeling/neml2-ci@main
        with:
          python-version: 3.9
          cmake-version: 3.26.0
          torch-version: 2.8.0
          doxygen-version: 1.16.1
      - uses: actions/setup-node@v4
      - name: Install node.js dependencies
        run: cd doc/js && npm install
      - name: Install NEML2 Python package
        run: pip install ".[dev]" -v
      - name: Generate stubs for documentation
        run: neml2-stub
      - name: Install graphviz
        run: sudo apt install -y graphviz
      - name: Run examples
        run: ./doc/scripts/examples.py --log-level trace --cmake-configure-args="-GNinja"
      - name: Build documentation
        run: ./doc/scripts/genhtml.py --log-level trace

      # Documentation error checking
      - name: Show build logs for C++ documentation
        run: |
          echo '### C++ documentation build log' >> $GITHUB_STEP_SUMMARY
          cat build/doc/doxygen.html.log >> $GITHUB_STEP_SUMMARY
      - name: Show build logs for Python documentation
        run: |
          echo '### Python documentation build log' >> $GITHUB_STEP_SUMMARY
          cat build/doc/doxygen.python.log >> $GITHUB_STEP_SUMMARY
      - name: Warn about syntax errors
        run: |
          cat build/doc/syntax.err >> $GITHUB_STEP_SUMMARY
      - name: Error if C++ warnings exist
        run: "! grep -q 'warning:' build/doc/doxygen.html.log"
      - name: Error if Python warnings exist
        run: "! grep -q 'warning:' build/doc/doxygen.python.log"
      - name: Error if syntax errors were detected
        run: grep -q "No syntax error" build/doc/syntax.err

      - name: Upload documentation
        uses: actions/upload-artifact@v4
        with:
          name: documentation
          path: build/doc/build/html

  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: applied-material-modeling/neml2-ci@main
        with:
          python-version: 3.9
          cmake-version: 3.26.0
          torch-version: 2.8.0
      - name: Configure
        run: cmake --preset coverage -GNinja -S .
      - name: Build
        run: cmake --build --preset coverage
      - name: Code coverage check
        run: build/coverage/scripts/coverage.sh
      - name: Upload coverage
        uses: actions/upload-artifact@v4
        with:
          name: coverage
          path: build/coverage/coverage

  clang-tidy:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - uses: applied-material-modeling/neml2-ci@main
        with:
          python-version: 3.9
          cmake-version: 3.26.0
          torch-version: 2.8.0
      - name: Install clang-tidy
        run: sudo apt-get install -y clang-tidy
      - name: Install CodeChecker
        run: pip install codechecker
      - name: Configure
        run: cmake --preset cc -GNinja -S .
      - name: Filter files
        run: |
          git fetch --depth=1 origin main
          ./scripts/filter_cc.py -c build/cc/compile_commands.json \
                                 -o compile_commands_filtered.json \
                                 -d HEAD origin/main
      - name: Analyze
        run: |
          CodeChecker analyze \
                      --analyzers clang-tidy \
                      --analyzer-config 'clang-tidy:take-config-from-directory=true' \
                      --clean \
                      --quiet \
                      --skip .codechecker \
                      --output reports \
                      --jobs 4 \
                      compile_commands_filtered.json
          CodeChecker parse reports -e html -i .codechecker -o reports/html
      - name: Upload report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: clang-tidy
          path: reports/html
